ul {
    margin-top: 0px;    
    padding-inline-start: 20px;
}

.main {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    gap: 10px;
}

.work-experience {
    width: 65%;
    border: thin solid black;
    padding: 0 30px 30px;
}

.work-experience div {
    display: flex;
    flex-direction: column;
}

.exp-company {
    font-style: italic;
}

.exp-title, .skills-title, .edu-title  {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
}

.work-experience li {
} 

.sidebar {
    width: 35%;
}

.skills, .education {
    padding: 0 30px;
}

.skills ul, .education ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.education li > div {
    display: flex;
    flex-direction: column;
}

.education span:nth-child(3) {
    font-style: italic;
}